@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /*colors*/
    --color-1:#2AADDB;
    --color-2:#85AAB7;
}

.active{
    background-color: #2AADDB;
    
}

.backimage{
    background: url('./assets/pexels-pavel-danilyuk-7944065.jpg') rgba(42, 173, 219, 0.64);
    background-size: cover;
    background-blend-mode: multiply;
}
.backimage2{
    background: url('./assets/homeBg.jpg') rgba(42, 173, 219, 0.64);
    background-size: cover;
    background-blend-mode: multiply;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border:1px solid red;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
.Container{
    padding-left:40px;
    padding-right:40px;
    margin:0 auto ;
}
.grid{
    display:grid;
}




/*------Media-----------------------------------------------------------------*/
@media screen and (max-width:1024px) {

}
@media screen and (max-width:768px) {
    
}
@media screen and (max-width:576px) {
    
}
@media screen and (max-width:350px) {

}