.nav__button{
    padding:12px;
    line-height:1;
    border-radius:10px;
    box-shadow:0 0 1px rgb(0 0 0 /0%);
    border:1px solid transparent;
    display:inline-block;
    background-color:var(--color-1);
}
.nav__logo{
    width:120px;
}
.insc{
    background-color:var(--color-2); 
}
.main__button{
    padding:15px;
    padding-left:45px;
    padding-right:45px;
    line-height:1;
    border-radius:10px;
    box-shadow:0 0 1px rgb(0 0 0 /0%);
    border:1px solid transparent;
    display:inline-block;
    background-color:var(--color-1); 
}
main{
    padding-top:30px;
    padding-bottom:30px;
}
i{
    font-size:20px;
}
.nav__link{
    transition: .3s;
}
.nav__link:hover{
    color:var(--color-1);
}


@keyframes button-push{
    50%{
        transform:scale(0.8);
    }
    100%{
        transform:scale(1);
    }
}
.main__button:hover{
    animation:button-push 0.3s linear 1;
}

@media screen and (max-width:1024px) {

}
@media screen and (max-width:768px) {
    
}
@media screen and (max-width:576px) {
    
}
@media screen and (max-width:350px) {

}